<!-- views/add_customer.ejs -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Add Customer</title>
</head>
<body>
    <p id="titleName">Sanketrao Shinde</p>
    <h1>Add New Customer</h1>
    <form action="/customers/add" method="POST">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label>
        <input type="email" id="email" name="email" required>
        <label for="phone">Phone:</label>
        <input type="text" id="phone" name="phone" required>
        <button type="submit">Add Customer</button>
    </form><br><br>
    <a href="/customers">Back to List</a>
</body>
</html>
